/* 
        Authors: Brenden Riley, Dylan Kelley
        Date: 4.3.19
*/

body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
}

#topnav {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(247, 148, 30);
        height: 50px;
}

#topnav ul {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
}

#topnav ul li {
        float: left;
        width: 33.33%;
        text-align: center;
        height: 50px;
        border: 1px solid black;
}

#topnav ul li a {
        position: relative;
        top: 5%;
        display: block;
        font-size: 1.2em;
        width: 100%;
        height: 50px;
        padding-top: 10px;
}

#topnav ul li a:link {
        color: rgb(77, 77, 79);
}

#topnav ul li a:active {
        color: rgb(77, 77, 79);
}

#topnav ul li a:hover {
        color: rgb(77, 77, 79);
        text-shadow: 1px 1px 5px grey;
}

#topnav ul li a:visited {
        color: rgb(77, 77, 79);
}

#topnav ul li:hover {}

#about {
        padding: 15px;
        width: 80%;
        margin-left: 10%;
        content: "";
        display: table;
        clear: both;
}

#about div {
        padding-top: 20px;
        margin-left: 10%;
}

#about h1 {
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#about article {
        width: 40%;
        float: left;
}



#ctso {
        padding: 15px;
        float: right;
        clear: both;
        width: 80%;
        margin-right: 10%;
        content: "";
        display: table;
        clear: both;
}

#ctso div {
        padding-top: 20px;
        margin-left: 60%;
}

#ctso h1 {
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#ctso article {
        width: 40%;
        float: right;
}


#contact {
        padding: 15px;
        clear: both;
        width: 80%;
        margin-left: 10%;
        content: "";
        display: table;
        clear: both;
}

#contact div {
        padding-top: 20px;
        margin-left: 25%;
}

#contact h1 {
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#contact article {
        width: 40%;
        float: left;
}

#aboutImg {
        float: right;
        width: 40%;
}

#ctsoImg {
        float: left;
        width: 40%;
}

#contactImg {
        float: right;
        width: 40%;
}

@media only screen and (max-width: 600px) {
        #about div {
                float: none;
                margin: 0px auto;
        }

        #aboutImg {
                display: none;
        }

        #about article {
                width: 100%;
        }

        #ctso div {
                float: none;
                margin: 0px auto;
        }

        #ctsoImg {
                display: none;
        }

        #ctso article {
                width: 100%;
        }

        #contact div {
                float: none;
                margin: 0px auto;
        }

        #contactImg {
                display: none;
        }

        #contact article {
                width: 100%;
        }
}