/* 
        Authors: Brenden Riley, Dylan Kelley
        Date: 4.3.19
*/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

html {
        width: 100%;
        background-color: white;
        min-width: 400px;
}

body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 1.2em;
        word-spacing: .5em;
        letter-spacing: .1em;
        background-color: rgb(218, 217, 216);
        box-shadow: 3px 3px 100px;
        border: 1px solid black;
}

#navPic1 {
        width: 30%;
        margin-left: 22%;
}

#navPic2 {
        margin-top: 1%;
        width: 20%;
}

#topnav {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(247, 148, 30);
        height: 50px;
}

#topnav ul {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 50px;
}

#topnav ul li {
        float: left;
        width: 33.33%;
        text-align: center;
        height: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
}

/* Removes overlapping border on the right side of the last list item */
#topnav ul li#overlap {
        border-right: 0px;
}

#topnav ul li a {
        position: relative;
        top: 5%;
        display: block;
        font-size: 1.2em;
        width: 100%;
        height: 50px;
        padding-top: 10px;
}

#topnav ul li a:link {
        color: rgb(77, 77, 79);
}

#topnav ul li a:active {
        color: rgb(77, 77, 79);
}

#topnav ul li a:hover {
        color: rgb(211, 118, 26);
        text-shadow: 1px 1px 4px white;
        transition: ease .2s;
}

#topnav ul li a:visited {
        color: rgb(77, 77, 79);
}

#about {
        padding: 15px;
        width: 80%;
        margin-left: 10%;
        content: "";
        display: table;
        clear: both;
        font-size: 1.2em;
}

#about div {
        padding-top: 20px;
        margin-left: 10%;
}

#about h1 {
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#about article {
        margin-left: 1%;
        width: 40%;
        float: left;
}

#about p {
        text-align: center;
        text-indent: 5%;
        word-spacing: 3px;
}

#ctso p {
        text-align: center;
        text-indent: 5%;
        word-spacing: 3px;
}

#ctso {
        padding: 15px;
        float: right;
        clear: both;
        width: 80%;
        margin-right: 10%;
        content: "";
        display: table;
        clear: both;
        font-size: 1.2em;
}

#ctso div {
        padding-top: 20px;
        margin-left: 60%;
}

#ctso h1 {
        position: relative;
        top: 50%;
        left: 25%;
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#ctso article {
        width: 40%;
        float: right;
}


#contact {
        padding: 15px;
        clear: both;
        width: 80%;
        margin-left: 10%;
        content: "";
        display: table;
        clear: both;
        font-size: 1.2em;
}

#contact div {
        padding-top: 20px;
        content: "";
        display: table;
        clear: both;
        float: left;
}

#contactHead {
        margin-left: 5%;
}

#contact h1 {
        font-size: 4em;
        clear: both;
        text-decoration: underline;
}

#contact p {
        word-spacing: 3px;
        position: relative;
        left: 20%;
}

#contact article {
        float: left;
        margin-top: 20px;
        line-height: 2.5em;
        clear: left;
}

#aboutImg {
        float: right;
        width: 40%;
        border: 1px solid black;
}

#ctsoImg {
        float: left;
        width: 40%;
        border: 1px solid black;
}

#contactImg {
        float: right;
        width: 40%;
        border: 1px solid black;
}

#aboutImg,
#ctsoImg,
#contactImg {
        box-shadow: 5px 5px 15px black;
}

#NWbutton,
#NEbutton,
#SWbutton {
        float: left;
        height: 40px;
}

#social1,
#social2,
#social3,
#social4 {
        width: 50px;
}

footer {
        background-color: rgb(58, 57, 57);
        color: rgb(230, 230, 230);
        content: "";
        display: table;
        clear: both;
        width: 100%;
        border-top: 1px solid black;
}

footer article {
        margin-left: 5%;
        margin-right: 5%;
        width: 25%;
        float: left;
        margin-top: 15px;
}

#socialLogos {
        width: 30%;
        float: left;
        margin-top: 15px;
}

#legalStuff {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
}

form {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding: 3%;
        border: 4px solid rgb(54, 54, 54);
        width: 40%;

}

form p {
        font-size: 1.6em;
}

form textarea {
        max-width: 100%;
        max-height: 200px;
        min-width: 70%;
}

#clientInfo label {
        width: 25%;
}

form input:focus {
        background-color: rgb(223, 197, 83);
}

form input:focus:valid {
        background-color: rgb(149, 226, 149)
}

form input:focus:invalid {
        background-color: rgb(230, 173, 173)
}

@media only screen and (max-width: 600px) {
        #about div {
                float: none;
                margin: 0px auto;
        }

        #aboutImg {
                display: none;
        }

        #about article {
                width: 100%;
        }

        #ctso div {
                float: none;
                margin: 0px auto;
        }

        #ctsoImg {
                display: none;
        }

        #ctso article {
                width: 100%;
        }

        #contact div {
                float: none;
                margin: 0px auto;
        }

        #contactImg {
                display: none;
        }

        #contact article {
                width: 100%;
        }

        footer article {
                width: 90%;

        }

        #socialLogos {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                float: none;
        }

        form {
                width: 80%;
        }
}